@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.resenia {
    background: linear-gradient(150deg, #13527c, #c9d4ce);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.center-form {
    display: inline-block;
    text-align: left;
    padding: 50px;
    border: 1px solid #ccc;
}

.divVolver{
    display: grid;
    text-align: right;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.user-name-style{
    font-family: 'agbalumo';
    color: black ;
}

body{
    background-color: antiquewhite;
}