<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/contrato.css">
    </head>

<body>
    <div th:replace="/fragments/navbar_all :: div"></div>

    <main>
        <h3>Requisitos del Usuario: <span th:text="${contrato.usuario.nombre}"></span> </h3>
        <p th:text="${contrato.requisitos}"></p>

        <br><br>
        <form class="row g-3" th:action="@{/contrato/presupuesto/__${contrato.id}__}" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input name="precio" type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                    th:value="${precio}">
                <span class="input-group-text">.00</span>
            </div>
            <div class="form-group my-3">
                <input type="text" class="form-control" name="horasAprox" placeholder="Tiempo aproximado del trabajo"
                    th:value="${horasAprox}">
            </div>
            <div class="form-group my-3">
                <input type="date" class="form-control" name="inicioDelTrabajo" th:value="${inicioDelTrabajo}">
            </div>
            <div>
                <button type="submit" name="accion" value="aceptar" class="btn btn-success">Enviar <br>presupuesto</button>
         
            </div>
        </form>
        <br>
              <a th:href="@{/contrato/cancelarContrato/__${contrato.id}__}" class="btn btn-danger">Cancelar presupuesto</a>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <div th:replace="/fragments/script :: div"></div>
</body>

</html>