<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>
    <!-- Pasé los links de estilo al head -->

    <body>
        <div th:replace="/fragments/navbar_all :: div"></div>
        <br>
        <div th:replace="/fragments/error :: div"></div>
        <div class="fondo">
            <header class="head">
                <h1 class="titulo">Web Services</h1>
                <br><br>
                <div class="cardsSub">
                    <span class="cards">
                        <div th:replace="/fragments/prov_cards :: div"></div>
                    </span>
                    <div class="subtitulo">
                        <span>
                            <p th:if="${session.usuariosession != null}">
                                Te damos la bienvenida
                                <span th:text="${session.usuariosession.nombre}" class="user-name-style"></span>
                            </p>
                        </span>
                       <span th:if="${session.usuariosession == null}">Te damos la bienvenida </span>
                        </span>
                        a la página de proveedores
                        <br>de Servicios de la localidad <strong class="parrafo">CHACRAS DE CORIA</strong>
                    </div>
                </div>

            </header>

            <!-- Están los servicios en forma de cards -->

            <br><br><br>
    
        </div>
        <br>
        <!-- Iconos de pantalla -->
        <div class="iconos">
            <div class="plomero"><img src="/img/icono_plomero.png" alt="plomero" width="80" height="60"></div>
            <div class="plomero"><img src="/img/icono_albanil.png" alt="plomero" width="80" height="60"></div>
            <div class="plomero"><img src="/img/icono_pintor.png" alt="plomero" width="80" height="60"></div>
            <div class="plomero"><img src="/img/icono_electricista.png" alt="plomero" width="80" height="60"></div>
        </div>
        <footer th:replace="/fragments/footer :: footer"></footer>
        <div th:replace="/fragments/script :: div"></div>
    </body>

</html>